@import "./styles/variables";

@font-face {
  font-family:'FontAwesome';
  src:url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
  src:url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
  url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
  url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
  url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype');
  font-weight:normal;
  font-style:normal;
}

body {
  font-family: Inter, sans-serif;
  color: $textcolor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  padding-top: 50px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  margin: 0 0 40px;
  padding: 0;
}

.pages {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__link {
    text-decoration: none;
    color: $textcolor;
    text-align: center;
    &:hover {
      color: $accentcolor;
      text-underline-offset: 3px;
      text-decoration: underline;
    }
  }
}

@import url('pages/error/error.scss');
